## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os
import datetime

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
app_series = application_df["APPLICATION_TYPE"].value_counts()
app_names = app_series.index.tolist()

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []
for i,j in zip(app_series, app_names):
  if i <= 527:
    application_types_to_replace.append(j)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_series = application_df["CLASSIFICATION"].value_counts()
class_names = class_series.index.tolist()
classifications_to_replace = []
for i,j in zip(class_series, class_names):
  if i <= 1882:
    classifications_to_replace.append(j)
classifications_to_replace
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(application_df, prefix=["APPLICATION_TYPE","AFFILIATION","CLASSIFICATION","USE_CASE","ORGANIZATION","INCOME_AMT",'SPECIAL_CONSIDERATIONS'])
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = encoded_df.IS_SUCCESSFUL.values
X = encoded_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1, stratify=y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Use Keras Tuner to find out the Optimum parametres

In [14]:
len(X_train_scaled[0])

43

In [15]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=len(X_train_scaled[0]), activation=activation, input_dim=43))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [16]:
pip install keras-tuner --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras-tuner in /usr/local/lib/python3.9/dist-packages (1.3.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (23.0)
Requirement already satisfied: protobuf<=3.20.3 in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (3.20.3)
Requirement already satisfied: tensorflow>=2.0 in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (2.12.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (1.0.4)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (3.8.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.12.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (16.0.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (4.5.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.22.4)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (67.6.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.2.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (23.3.3)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.14.1)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.4.7)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.12.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.53.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.6.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.32.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.9/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras-tuner) (0.40.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow>=2.0->keras-tuner) (1.10.1)
Requirement already satisfied: ml-dtypes>=0.0.3 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow>=2.0->keras-tuner) (0.0.4)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (1.0.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.2.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (3.4.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.7.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.17.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (5.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.9/dist-packages (from markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (6.2.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.9/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (3.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (3.2.2)

In [17]:

# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=30,
    hyperband_iterations=2)

In [18]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=30,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 01m 23s]
val_accuracy: 0.732478141784668

Best val_accuracy So Far: 0.7334110736846924
Total elapsed time: 00h 15m 53s

In [19]:
# Get top 3 model hyperparameters and print the values
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'tanh', 'num_layers': 3, 'units_0': 61, 'units_1': 16, 'units_2': 1, 'units_3': 41, 'units_4': 81, 'units_5': 91, 'tuner/epochs': 30, 'tuner/initial_epoch': 10, 'tuner/bracket': 3, 'tuner/round': 3, 'tuner/trial_id': '0049'}
{'activation': 'tanh', 'num_layers': 4, 'units_0': 6, 'units_1': 1, 'units_2': 71, 'units_3': 41, 'units_4': 76, 'units_5': 41, 'tuner/epochs': 10, 'tuner/initial_epoch': 0, 'tuner/bracket': 1, 'tuner/round': 0}
{'activation': 'relu', 'num_layers': 4, 'units_0': 91, 'units_1': 11, 'units_2': 36, 'units_3': 46, 'units_4': 61, 'units_5': 11, 'tuner/epochs': 30, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}

In [20]:
models = tuner.get_best_models(num_models=3)
best_model = models[0]
best_model.build()
best_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 43)                1892

 dense_1 (Dense)             (None, 61)                2684

 dense_2 (Dense)             (None, 16)                992

 dense_3 (Dense)             (None, 1)                 17

 dense_4 (Dense)             (None, 1)                 2

=================================================================
Total params: 5,587
Trainable params: 5,587
Non-trainable params: 0
_________________________________________________________________

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  51
hidden_nodes_layer2 = 76
hidden_nodes_layer3 = 91
hidden_nodes_layer4 = 6




nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 51)                2244

 dense_7 (Dense)             (None, 76)                3952

 dense_8 (Dense)             (None, 76)                5852

 dense_9 (Dense)             (None, 91)                7007

 dense_10 (Dense)            (None, 6)                 552

 dense_11 (Dense)            (None, 1)                 7

=================================================================
Total params: 19,614
Trainable params: 19,614
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
logdir = os.path.join("log", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 6s 5ms/step - loss: 0.5713 - accuracy: 0.7180
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5540 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5511 - accuracy: 0.7310
Epoch 4/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5496 - accuracy: 0.7323
Epoch 5/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5482 - accuracy: 0.7325
Epoch 6/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5474 - accuracy: 0.7340
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5465 - accuracy: 0.7343
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7358
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7356
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7362
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7356
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7361
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7371
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7367
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7367
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5415 - accuracy: 0.7374
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7370
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7371
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7373
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7374
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5389 - accuracy: 0.7368
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7384
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7381
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7376
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7376
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5385 - accuracy: 0.7386
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7382
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7390
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7387
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7393
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7389
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 40/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7394
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7393
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7396
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7391
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7387
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7395
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7396
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7404
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7392
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7403
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7397
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7394
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7405
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5341 - accuracy: 0.7403
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5338 - accuracy: 0.7398
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7393
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7401
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7395
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7401
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7401
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7395
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7399
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7399
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5333 - accuracy: 0.7390
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7396
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7400
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5331 - accuracy: 0.7399
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7401
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7405
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7404
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7401
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7398
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7401

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5884 - accuracy: 0.7306 - 522ms/epoch - 2ms/step
Loss: 0.5883864164352417, Accuracy: 0.7306122183799744

In [26]:
# Export our model to HDF5 file
# save the model to an H5 file
nn.save('AlphabetSoupCharity.h5')

# load the saved model from the H5 file
# loaded_model = tf.keras.models.load_model('my_model.h5')

In [27]:
from google.colab import files
files.download("AlphabetSoupCharity.h5")